SIGAA_USERNAME=
SIGAA_PASSWORD=
SIGAA_LOGIN_URL=https://sigaa.ufba.br/sigaa/mobile/touch/login.jsf
SIGAA_CAPTURE_URL=
SIGAA_CAPTURE_DIR=artifacts
SIGAA_TIMEOUT_MS=45000
SIGAA_HEADED=0
FORMAE_WEB_URL=http://localhost:4173/#/importacao
FORMAE_EXTENSION_PATH=../../apps/extension
